In [1]:
import pandas as pd
import numpy as np
import requests

chunk = pd.read_csv('hasil.csv',chunksize=1000000, low_memory=False)
df = pd.concat(chunk)

In [2]:
df = df.fillna("")
df

,Tile Id,Date,Serving Cell Average RSRP (dBm),Serving Cell Average RSRQ (dB),Total Call Count,Longitude,Latitude,Cell Name,Cell ID,ENodeB ID
0,5764608303907989961,2022-01-27,-104.14,-14.5,30,106.691837,-6.524947,E_BOO334ML1_Ryrancabungr_ML01,11,147334
1,5764608304266696435,2022-01-27,-103.9,-13.06,81,106.885128,-6.321611,E_JKT671ME1_Ptcentex-STP_ME01,14,134671
2,5764608303911102600,2022-01-27,-98.78,-13.3,179,106.647892,-6.184075,E_TNG296ME1_Babakanmsjd_ME01,14,137296
3,5764608304253881311,2022-01-27,-111.0,-8.5,1,106.939373,-7.22097,E_SKB021MR1_Curugkembar_MR02,23,148021
4,5764608304268272375,2022-01-27,-92.3,-10.98,142,107.434444,-6.702969,E_PWK704ML1_Sawitdarangdan-TBG_ML03,31,145704
...,...,...,...,...,...,...,...,...,...,...
5111164,5764608303900321083,2022-01-27,-109.60,-12.60,6,106.152477,-6.428066,E_RKB641MT1_Cigoongutrnw_MT01,12,140641
5111165,5764608303911434900,2022-01-27,-107.22,-16.33,21,106.740589,-6.247558,E_TNG870ML1_Cipadukreo-DMT_ML01,11,137870
5111166,5764608304270094475,2022-01-27,-108.61,-13.76,97,107.076702,-6.205579,E_BKS394MF1_Muktiwari_MF01,15,143394
5111167,5764608303908720368,2022-01-27,-98.35,-12.94,"1,713",106.807880,-6.387466,E_DPK502MF1_Beji-TBG_MF03,35,144502
5111168,,,,,,,,,,

In [4]:
table = pd.pivot_table(df,index=["Cell Name"],values=["Serving Cell Average RSRP (dBm)","Serving Cell Average RSRQ (dB)"]
                       ,aggfunc=[np.sum,len])
table

                                                                                          sum  \
                                                              Serving Cell Average RSRP (dBm)
Cell Name

BKX058MR1_Ujungharapanbekasi-DMT_MR02                                                  -99.66
COC166MR1_Combatpaspampresjonggol_MR02      -107.00-102.40-107.50-93.40-114.00-107.50-108....
COC588IL1_Sniperpim3_IL02                                                              -86.70
COC596IL1_Snipertmnanggrekrsdncrclone_IL02                                             -94.85
...                                                                                       ...
T_TNG792ME1_Pakualam-PTI_ME01                                                             NaN
T_TNG792ME1_Pakualam-PTI_ME02                                                             NaN
T_TNG792ME1_Pakualam-PTI_ME03                                                             NaN
T_TNG803TE1_Permanencmbtkunciran-DMT_TE06                                                 NaN
T_TNG827ME1_Bukitserpongmas-TBG_ME02                                                      NaN

                                                                                              \
                                                              Serving Cell Average RSRQ (dB)
Cell Name

BKX058MR1_Ujungharapanbekasi-DMT_MR02                                                 -11.72
COC166MR1_Combatpaspampresjonggol_MR02      -11.00-14.50-13.63-13.06-11.00-15.00-13.86-19.67
COC588IL1_Sniperpim3_IL02                                                              -9.92
COC596IL1_Snipertmnanggrekrsdncrclone_IL02                                            -15.80
...                                                                                      ...
T_TNG792ME1_Pakualam-PTI_ME01                                                            NaN
T_TNG792ME1_Pakualam-PTI_ME02                                                            NaN
T_TNG792ME1_Pakualam-PTI_ME03                                                            NaN
T_TNG803TE1_Permanencmbtkunciran-DMT_TE06                                                NaN
T_TNG827ME1_Bukitserpongmas-TBG_ME02                                                     NaN

                                                                       len  \
                                           Serving Cell Average RSRP (dBm)
Cell Name
                                                                         1
BKX058MR1_Ujungharapanbekasi-DMT_MR02                                    1
COC166MR1_Combatpaspampresjonggol_MR02                                   8
COC588IL1_Sniperpim3_IL02                                                1
COC596IL1_Snipertmnanggrekrsdncrclone_IL02                               1
...                                                                    ...
T_TNG792ME1_Pakualam-PTI_ME01                                           23
T_TNG792ME1_Pakualam-PTI_ME02                                            4
T_TNG792ME1_Pakualam-PTI_ME03                                          142
T_TNG803TE1_Permanencmbtkunciran-DMT_TE06                               32
T_TNG827ME1_Bukitserpongmas-TBG_ME02                                    94


                                           Serving Cell Average RSRQ (dB)
Cell Name
                                                                        1
BKX058MR1_Ujungharapanbekasi-DMT_MR02                                   1
COC166MR1_Combatpaspampresjonggol_MR02                                  8
COC588IL1_Sniperpim3_IL02                                               1
COC596IL1_Snipertmnanggrekrsdncrclone_IL02                              1
...                                                                   ...
T_TNG792ME1_Pakualam-PTI_ME01                                          23
T_TNG792ME1_Pakualam-PTI_ME02                                           4
T_TNG792ME1_Pakualam-PTI_ME03                                         142
T_TNG803TE1_Permanencmbtkunciran-DMT_TE06                              32
T_TNG827ME1_Bukitserpongmas-TBG_ME02                                   94

[71012 rows x 4 columns]

In [5]:
table.to_csv("ujicoba.csv")